# .env.example
# Este arquivo é um exemplo de variáveis de ambiente.
# Copie este arquivo para .env e preencha com suas configurações.
PORT=3001

# Configurações do MongoDB,
MONGO_URI=
MONGO_INITDB_ROOT_USERNAME=
MONGO_INITDB_ROOT_PASSWORD=

# Configurações da Aplicação,
JWT_SECRET=batman
NODE_ENV=development
JWT_EXPIRES_IN=
OPENAI_API_KEY=your_openai_api_key_here

# CLOUDFLARE R2 STORAGE
R2_ENDPOINT=https://<SEU_ACCOUNT_ID_AQUI>.r2.cloudflarestorage.com
R2_ACCESS_KEY_ID=sua_access_key_aqui
R2_SECRET_ACCESS_KEY=sua_secret_key_aqui
R2_BUCKET_NAME=nome-do-seu-bucket
R2_PUBLIC_DOMAIN=https://link-publico-do-seu-bucket.com